body {
    margin: 0;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #6fd5f4;
    padding: 8px 128px;
}

.logo-header{
    display: flex;
    color: black;
    flex-direction: row;
    text-decoration: none;
}

.logo {
    margin-right: 12px;
}

.menu-header {
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: center;
    list-style: none;
}

.menu-item{
    margin-left: 16px;
    text-decoration: none;
    display: block;
    font-size: 24px;
    font-weight: bold;
    color: black;    
}

.menu-item-last {
    margin-left: 8px;
}

.menu-item:hover {
    font-size: 28px;
    color:#a5ffff;
    transition: 0.4s;
}

.menu-item-select {
    color: #a5ffff;
}

main {
    display: flex;
    justify-content: center;
    margin: 8px 0px auto 0px;
}

.fonts-container {
    display: flex;
    flex-direction: column;
    width: 992px;
}

.fonts-container a {
    color: black;
    font-size: 24px;
    text-decoration: none;
    margin-left: 32px;
    margin-bottom: 16px;
}

.fonts-container a:hover{
    font-weight: bold;
    text-decoration: underline;
}




footer {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
    padding: 16px 128px;
    align-items: center;
    background-color: #6fd5f4;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

.Copyright {
    color: black;
    font-size: 14px;
    align-self: flex-end;
}